# Python / Flask
__pycache__/
*.py[cod]
*$py.class
venv/
env/
instance/
.pytest_cache/
.coverage
htmlcov/

# Environment Variables & Secrets (Crucial)
.env
config.py
secrets.json

# Database
*.db
*.sqlite3

# IDE / Editor
.vscode/
.idea/
.DS_Store

# Logs
*.log